<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <!--    property : 변수-->
    <springProperty scope="context" name="APP_NAME" source="spring.application.name" defaultValue="arcane-api"/>
    <property name="LOG_DIR" value="./logs"/>
    <property name="LOG_FILE_NAME" value="arcane-api-log"/>


    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>false</withJansi>
        <encoder>
            <pattern>%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){green} %clr(%-5level) [${APP_NAME}] trace=%X{traceId} thread=%thread %clr(%logger{36}){cyan} | %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/${LOG_FILE_NAME}.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [${APP_NAME}] trace=%X{traceId} thread=%thread logger=%logger{36} | %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
<!--            분마다 최대 3개의 로그를 만듦 -->
            <fileNamePattern>${LOG_DIR}/${LOG_FILE_NAME}--%d{yyyy-MM-dd_HH}.log.gz</fileNamePattern>
            <maxHistory>24</maxHistory>
        </rollingPolicy>
    </appender>

    <logger name="org.apache.kafka" level="WARN"/>
    <logger name="org.springframework.kafka" level="WARN"/>
    <logger name="org.hibernate.SQL" level="WARN"/>


    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>
</configuration>
